/******* golbal styles *******/
@import url('https://fonts.googleapis.com/css?family=Lato:400,700&display=swap');

body {
  font-family: 'Lato', sans-serif;
  color: #2d3950;
}

h2 {
  font-size: 38px;
}

h3 {
  font-size: 21px;
}

p {
  font-size: 18px;
  color: #909090;
  margin: 0;
}

a, li {
  -webkit-tap-highlight-color: transparent;
}
/******* golbal styles *******/


/******* navbar start *******/
.navbar {
  padding: 15px 70px;
}

.top-logo img {
  max-width: 100%;
}

ul.top-menu li {
  display: inline-block;
  padding: 0 10px;
}

ul.top-menu li a {
  text-transform: uppercase;
  color: #2d3950;
  font-weight: bold;
  display: block;
}

ul.top-menu li a span.link-text {
  display: inline-block;
  position: relative;
}

ul.top-menu li a span.link-text::before {
  position: absolute;
  content: "";
  bottom: -2px;
  left: 0;
  right: 0;
  width: 100%;
  height: 2px;
  background-color: #15a4fa;
  -webkit-transform: scaleX(0);
     -moz-transform: scaleX(0);
      -ms-transform: scaleX(0);
       -o-transform: scaleX(0);
          transform: scaleX(0);
  -webkit-transition: -webkit-transform 0.3s ease-in-out;
  transition: -webkit-transform 0.3s ease-in-out;
  -o-transition: -o-transform 0.3s ease-in-out;
  -moz-transition: transform 0.3s ease-in-out, -moz-transform 0.3s ease-in-out;
  transition: transform 0.3s ease-in-out;
  transition: transform 0.3s ease-in-out, -webkit-transform 0.3s ease-in-out, -moz-transform 0.3s ease-in-out, -o-transform 0.3s ease-in-out;
}

ul.top-menu li a:hover span.link-text::before {
  -webkit-transform: scaleX(1);
     -moz-transform: scaleX(1);
      -ms-transform: scaleX(1);
       -o-transform: scaleX(1);
          transform: scaleX(1);
}
/******* navbar end *******/


/******* hero section start *******/
.hero-sec {
  color: #ffffff;
  background-image: url(../img/banner.jpg);
  background-repeat: no-repeat;
  -webkit-background-size: cover;
     -moz-background-size: cover;
       -o-background-size: cover;
          background-size: cover;
  background-position: center center;
  padding: 180px 70px;
}

.hero-sec h1 {
  text-transform: uppercase;
  font-size: 100px;
}

.bottom-border {
  background-color: #15a4fa;
  height: 2px;
}

.hero-sec p {
  margin: 25px 0 45px;
  color: #ffffff;
}

a.action-btn {
  display: inline-block;
  text-decoration: none;
  color: #ffffff !important;
  font-size: 17px;
  border: 1px solid #15a4fa;
  padding: 11px 32px;
  -webkit-border-radius: 5px;
     -moz-border-radius: 5px;
          border-radius: 5px;
  position: relative;
  z-index: 1;
}

a.action-btn::before {
  position: absolute;
  content: "";
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #15a4fa;
  border: 1px solid #15a4fa;
  z-index: -1;
  -webkit-border-radius: 3px;
     -moz-border-radius: 3px;
          border-radius: 3px;
  -webkit-transform: scaleX(0);
     -moz-transform: scaleX(0);
      -ms-transform: scaleX(0);
       -o-transform: scaleX(0);
          transform: scaleX(0);
  -webkit-transform-origin: right;
     -moz-transform-origin: right;
      -ms-transform-origin: right;
       -o-transform-origin: right;
          transform-origin: right;
  -webkit-transition: -webkit-transform 0.4s ease-in-out;
  transition: -webkit-transform 0.4s ease-in-out;
  -o-transition: -o-transform 0.4s ease-in-out;
  -moz-transition: transform 0.4s ease-in-out, -moz-transform 0.4s ease-in-out;
  transition: transform 0.4s ease-in-out;
  transition: transform 0.4s ease-in-out, -webkit-transform 0.4s ease-in-out, -moz-transform 0.4s ease-in-out, -o-transform 0.4s ease-in-out;
}

a.action-btn:hover::before {
  -webkit-transform: scaleX(1);
     -moz-transform: scaleX(1);
      -ms-transform: scaleX(1);
       -o-transform: scaleX(1);
          transform: scaleX(1);
  -webkit-transform-origin: left;
     -moz-transform-origin: left;
      -ms-transform-origin: left;
       -o-transform-origin: left;
          transform-origin: left;
}

a.bottom-icon {
  display: inline-block;
  width: 50px;
  height: 50px;
  line-height: 50px;
  color: #ffffff;
  font-size: 20px;
  -ms-transform: translateY(100px);
   -o-transform: translateY(100px);
      transform: translateY(100px);
  -webkit-transform: translateY(100px);
  -moz-transform: translateY(100px);
  -webkit-animation-name:UpsideDown;
     -moz-animation-name:UpsideDown;
       -o-animation-name:UpsideDown;
          animation-name:UpsideDown;
  -webkit-animation-duration: 1.5s;
     -moz-animation-duration: 1.5s;
       -o-animation-duration: 1.5s;
          animation-duration: 1.5s;
  -webkit-animation-iteration-count: infinite;
     -moz-animation-iteration-count: infinite;
       -o-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
  -webkit-animation-timing-function: ease-in-out;
     -moz-animation-timing-function: ease-in-out;
       -o-animation-timing-function: ease-in-out;
          animation-timing-function: ease-in-out;
}

@-webkit-keyframes UpsideDown {
  0% {
    -webkit-transform: translateY(100px);
            transform: translateY(100px);
    opacity: 0;
    /* run opacity in reverse direction
    opacity: 1;
    */
  }

  100% {
    -webkit-transform: translateY(130px);
            transform: translateY(130px);
    opacity: 1;
    /* run opacity in reverse direction
    opacity: 0;
    */
  }
}

@-moz-keyframes UpsideDown {
  0% {
    -moz-transform: translateY(100px);
         transform: translateY(100px);
    opacity: 0;
    /* run opacity in reverse direction
    opacity: 1;
    */
  }

  100% {
    -moz-transform: translateY(130px);
         transform: translateY(130px);
    opacity: 1;
    /* run opacity in reverse direction
    opacity: 0;
    */
  }
}

@-o-keyframes UpsideDown {
  0% {
    -o-transform: translateY(100px);
       transform: translateY(100px);
    opacity: 0;
    /* run opacity in reverse direction
    opacity: 1;
    */
  }

  100% {
    -o-transform: translateY(130px);
       transform: translateY(130px);
    opacity: 1;
    /* run opacity in reverse direction
    opacity: 0;
    */
  }
}

@keyframes UpsideDown {
  0% {
    -webkit-transform: translateY(100px);
       -moz-transform: translateY(100px);
         -o-transform: translateY(100px);
            transform: translateY(100px);
    opacity: 0;
    /* run opacity in reverse direction
    opacity: 1;
    */
  }

  100% {
    -webkit-transform: translateY(130px);
       -moz-transform: translateY(130px);
         -o-transform: translateY(130px);
            transform: translateY(130px);
    opacity: 1;
    /* run opacity in reverse direction
    opacity: 0;
    */
  }
}

a.bottom-icon:hover {
  color: #ffffff;
}
/******* hero section end *******/


/******* simple section start *******/
.simple-sec {
  background-color: #f6f9f9;
  padding: 80px 70px;
}

.simple-sec p {
  margin: 22px 0 0;
}
/******* simple section end *******/


/******* features section start *******/
.features-sec {
  padding: 80px 70px;
}

.features-sec-item {
  padding: 35px 35px 50px;
  -webkit-border-radius: 7px;
     -moz-border-radius: 7px;
          border-radius: 7px;
  height: 100%;
  border: 1px solid transparent;
  -webkit-transition: all .3s ease-in-out;
  -o-transition: all .3s ease-in-out;
  -moz-transition: all .3s ease-in-out;
  transition: all .3s ease-in-out;
}

.features-sec-item:hover {
  border: 1px solid rgba(45, 57, 80, 0.1);
  -webkit-box-shadow: 0 2px 25px rgba(45, 57, 80, 0.2);
     -moz-box-shadow: 0 2px 25px rgba(45, 57, 80, 0.2);
          box-shadow: 0 2px 25px rgba(45, 57, 80, 0.2);
}

.features-sec-item span {
  display: inline-block;
  width: 70px;
  height: 70px;
  line-height: 70px;
  -webkit-border-radius: 2px;
     -moz-border-radius: 2px;
          border-radius: 2px;
  font-size: 35px;
  color: #ffffff;
  text-shadow: 0 0 2px rgba(45, 57, 80, 0.75);
  background: rgb(72,186,255); /* Old browsers */
  background: -moz-linear-gradient(left,  rgba(72,186,255,1) 50%, rgba(72,186,255,1) 50%, rgba(95,195,255,1) 50%); /* FF3.6-15 */
  background: -webkit-linear-gradient(left,  rgba(72,186,255,1) 50%,rgba(72,186,255,1) 50%,rgba(95,195,255,1) 50%); /* Chrome10-25,Safari5.1-6 */
  background: -webkit-gradient(linear,  left top, right top,  color-stop(50%, rgba(72,186,255,1)),color-stop(50%, rgba(72,186,255,1)),color-stop(50%, rgba(95,195,255,1)));
  background: -moz-linear-gradient(left,  rgba(72,186,255,1) 50%,rgba(72,186,255,1) 50%,rgba(95,195,255,1) 50%);
  background: -o-linear-gradient(left,  rgba(72,186,255,1) 50%,rgba(72,186,255,1) 50%,rgba(95,195,255,1) 50%);
  background: linear-gradient(to right,  rgba(72,186,255,1) 50%,rgba(72,186,255,1) 50%,rgba(95,195,255,1) 50%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#48baff', endColorstr='#5fc3ff',GradientType=1 ); /* IE6-9 */
}

.features-sec-item h3 {
  margin: 25px 0 10px;
}

.features-sec-item p {
  font-size: 15px;
}
/******* features section end *******/


/******* showcase section top start *******/
.showcase-sec {
  padding: 80px 70px 65px;
  background-color: #f6f9f9;
}

.showcase-sec-top {
  margin-bottom: 80px;
}
/******* showcase section top end *******/


/******* showcase section bottom start *******/
.showcase-item {
  position: relative;
  margin-bottom: 30px;
}

.showcase-item::after {
  position: absolute;
  content: "";
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(43, 171, 246);
  -webkit-transition: all .3s linear;
  -o-transition: all .3s linear;
  -moz-transition: all .3s linear;
  transition: all .3s linear;
  -webkit-transform: scale(0.5);
     -moz-transform: scale(0.5);
      -ms-transform: scale(0.5);
       -o-transform: scale(0.5);
          transform: scale(0.5);
  opacity: 0;
}

.showcase-item:hover::after {
  width: 100%;
  height: 100%;
  -webkit-transform: scale(1);
     -moz-transform: scale(1);
      -ms-transform: scale(1);
       -o-transform: scale(1);
          transform: scale(1);
  opacity: 0.85;
}

.showcase-item ul {
  position: absolute;
  bottom: 40%;
  left: 50%;
  -webkit-transform: translate(-50%, 40%);
     -moz-transform: translate(-50%, 40%);
      -ms-transform: translate(-50%, 40%);
       -o-transform: translate(-50%, 40%);
          transform: translate(-50%, 40%);
  z-index: 1;
  opacity: 0;
  -webkit-transition: all 0.35s linear;
  -o-transition: all 0.35s linear;
  -moz-transition: all 0.35s linear;
  transition: all 0.35s linear;
}


.showcase-item:hover ul {
  opacity: 1;
  bottom: 50%;
  -webkit-transform: translate(-50%, 50%);
     -moz-transform: translate(-50%, 50%);
      -ms-transform: translate(-50%, 50%);
       -o-transform: translate(-50%, 50%);
          transform: translate(-50%, 50%);
}

.showcase-item ul li {
  padding: 0 5px;
}

.showcase-item ul li a {
  color: #ffffff;
  display: inline-block;
  width: 35px;
  height: 35px;
  line-height: 35px;
  font-size: 14px;
  border: 1px solid #fff;
  -webkit-border-radius: 3px;
     -moz-border-radius: 3px;
          border-radius: 3px;
  -webkit-transition: opacity 0.2s ease-in-out;
  -o-transition: opacity 0.2s ease-in-out;
  -moz-transition: opacity 0.2s ease-in-out;
  transition: opacity 0.2s ease-in-out;
}

.showcase-item ul li a:hover {
  opacity: 0.75;
}
/******* showcase section bottom end *******/


/******* stay section start *******/
.stay-sec {
  position: relative;
  padding: 80px 70px;
  background-image: url(../img/road.jpg);
  background-repeat: no-repeat;
  -webkit-background-size: cover;
     -moz-background-size: cover;
       -o-background-size: cover;
          background-size: cover;
  background-position: center center;
  color: #ffffff;
}

.stay-sec::before {
  position: absolute;
  content: "";
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(45, 57, 80, 0.85);
}

.stay-sec-top {
  margin-bottom: 35px;
}

.stay-sec form ul label {
  font-size: 15px;
  opacity: 0.7;
  margin-left: 7px;
  margin-bottom: 0;
}

.form-custom-btn {
  font-size: 15px;
  display: inline-block;
  color: rgba(255, 255, 255, 0.7);
  background-color: transparent;
  border: 1px solid #15a4fa;
  padding: 7.5px 42px;
  -webkit-border-radius: 4px;
     -moz-border-radius: 4px;
          border-radius: 4px;
}

.form-custom-btn-wrap {
  position: relative;
  cursor: pointer;
}

.form-custom-btn-wrap::before {
  position: absolute;
  content: "";
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #15a4fa;
  border: 1px solid #15a4fa;
  -webkit-border-radius: 4px;
     -moz-border-radius: 4px;
          border-radius: 4px;
  -webkit-transform: scaleY(0);
     -moz-transform: scaleY(0);
      -ms-transform: scaleY(0);
       -o-transform: scaleY(0);
          transform: scaleY(0);
  -webkit-transform-origin: bottom;
     -moz-transform-origin: bottom;
      -ms-transform-origin: bottom;
       -o-transform-origin: bottom;
          transform-origin: bottom;
  -webkit-transition: -webkit-transform 0.4s ease-in-out;
  transition: -webkit-transform 0.4s ease-in-out;
  -o-transition: -o-transform 0.4s ease-in-out;
  -moz-transition: transform 0.4s ease-in-out, -moz-transform 0.4s ease-in-out;
  transition: transform 0.4s ease-in-out;
  transition: transform 0.4s ease-in-out, -webkit-transform 0.4s ease-in-out, -moz-transform 0.4s ease-in-out, -o-transform 0.4s ease-in-out;
}

.form-custom-btn-wrap:hover::before {
  -webkit-transform: scaleY(1);
     -moz-transform: scaleY(1);
      -ms-transform: scaleY(1);
       -o-transform: scaleY(1);
          transform: scaleY(1);
  -webkit-transform-origin: top;
     -moz-transform-origin: top;
      -ms-transform-origin: top;
       -o-transform-origin: top;
          transform-origin: top;
}

.form-custom-btn-wrap::after {
  position: absolute;
  content: "Send";
  color: #ffffff;
  font-size: 15px;
  bottom: 8.75px;
  right: 42.75px;
  opacity: 0;
  -webkit-transition: opacity 0.4s ease-in-out;
  -o-transition: opacity 0.4s ease-in-out;
  -moz-transition: opacity 0.4s ease-in-out;
  transition: opacity 0.4s ease-in-out;
}

.form-custom-btn-wrap:hover::after {
  opacity: 1;
}

.form-control {
  background-color: transparent;
  border: 1px solid rgba(144, 144, 144, 0.7);
  font-size: 15px;
  height: 47.5px;
}

.form-control:focus {
  background-color: transparent;
  border: 1px solid rgba(144, 144, 144, 0.7);
  -webkit-box-shadow: 0 0 5px rgba(144, 144, 144, 0.5);
     -moz-box-shadow: 0 0 5px rgba(144, 144, 144, 0.5);
          box-shadow: 0 0 5px rgba(144, 144, 144, 0.5);
}

textarea.form-control {
  padding-top: 12px;
}

form ul li {
}

.stay-sec input[type=checkbox] {
  vertical-align: middle;
}
/******* stay section end *******/


/******* footer start *******/
footer {
  padding: 20px 70px;
}

footer .row {
  -webkit-box-align: center;
  -webkit-align-items: center;
     -moz-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

a.footer-text {
  font-size: 14px;
  position: relative;
  display: inline-block;
  color: #909090;
}

a.footer-text:hover {
  text-decoration: none;
}

a.footer-text::before {
  position: absolute;
  content: "";
  width: 100%;
  height: 1.5px;
  background-color: rgba(144, 144, 144, 0.75);
  bottom: -2px;
  left: 0;
  -webkit-transition: -webkit-transform 0.3s ease-in-out;
  transition: -webkit-transform 0.3s ease-in-out;
  -o-transition: -o-transform 0.3s ease-in-out;
  -moz-transition: transform 0.3s ease-in-out, -moz-transform 0.3s ease-in-out;
  transition: transform 0.3s ease-in-out;
  transition: transform 0.3s ease-in-out, -webkit-transform 0.3s ease-in-out, -moz-transform 0.3s ease-in-out, -o-transform 0.3s ease-in-out;
  -webkit-transform: scaleX(0);
     -moz-transform: scaleX(0);
      -ms-transform: scaleX(0);
       -o-transform: scaleX(0);
          transform: scaleX(0);
}

a.footer-text:hover::before {
  -webkit-transform: scaleX(1);
     -moz-transform: scaleX(1);
      -ms-transform: scaleX(1);
       -o-transform: scaleX(1);
          transform: scaleX(1);
}

footer ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

footer ul li {
  display: inline-block;
  margin: 0 0.5px;
}

footer ul li a {
  display: block;
  width: 30px;
  height: 30px;
  font-size: 15px;
  background-color: #15a4fa;
  color: #ffffff;
  text-align: center;
  line-height: 30px;
  -webkit-border-radius: 2px;
     -moz-border-radius: 2px;
          border-radius: 2px;
  -webkit-transition: opacity 0.3s ease-in-out;
  -o-transition: opacity 0.3s ease-in-out;
  -moz-transition: opacity 0.3s ease-in-out;
  transition: opacity 0.3s ease-in-out;
}

footer ul li a:hover {
  color: #ffffff;
  opacity: 0.85;
}
/******* footer end *******/


/******* chat modal section start *******/
a.modal-custom-btn {
  display: inline-block;
  color: #fff;
  background-color: #15a4fa;
  width: 45px;
  height: 45px;
  line-height: 47.5px;
  text-align: center;
  -webkit-border-radius: 5px;
     -moz-border-radius: 5px;
          border-radius: 5px;
  font-size: 32px;
  position: fixed;
  bottom: 20px;
  right: 15px;
  -webkit-transition: opacity 0.3s ease-in-out;
  -o-transition: opacity 0.3s ease-in-out;
  -moz-transition: opacity 0.3s ease-in-out;
  transition: opacity 0.3s ease-in-out;
  -webkit-box-shadow: 1px 2px 15px rgba(45, 57, 80, 0.4);
     -moz-box-shadow: 1px 2px 15px rgba(45, 57, 80, 0.4);
          box-shadow: 1px 2px 15px rgba(45, 57, 80, 0.4);
  text-shadow: 0 0 2px rgba(45, 57, 80, 0.5);
}

a.modal-custom-btn:hover {
  opacity: 0.8;
}

.modal-dialog {
  margin: 1.25rem 0 1.25rem auto;
  max-width: 375px;
  height: 100vh;
  position: relative;
}

.modal-content {
  border: 1px solid rgba(9, 92, 214, 0.33);
  position: absolute;
  bottom: 95px;
  right: 10px;
}

.modal-body {
  padding: 0;
}

.modal-body .container-fluid {
  padding: 0;
}

.chat-top-custom {
  background-color: #1972f5;
  background-image: -webkit-linear-gradient(325deg, #0455cc -10%, #1972F5 100%) !important;
  background-image: -moz-linear-gradient(325deg, #0455cc -10%, #1972F5 100%) !important;
  background-image: -o-linear-gradient(325deg, #0455cc -10%, #1972F5 100%) !important;
  background-image: linear-gradient(125deg, #0455cc -10%, #1972F5 100%) !important;
  padding: 15px;
}

.chat-top-custom .row {
  -webkit-box-align: center;
  -webkit-align-items: center;
     -moz-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.chat-top-custom-img-wrap img {
  max-width: 30px;
  display: inline-block;
  -webkit-border-radius: 50%;
     -moz-border-radius: 50%;
          border-radius: 50%;
  -webkit-box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
     -moz-box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
          box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
}

.chat-top-custom-text-wrap {
  margin-left: -20px;
}

.chat-top-custom h4 {
  font-size: 14px;
  margin-bottom: 0;
  color: #ffffff;
}

.chat-top-custom p {
  color: #ffffff;
  font-size: 12px;
}

.chat-top-custom ul {
  margin: 0;
  padding: 0;
  list-style-type: none;
  margin-top: 5px;
  margin-left: -20px;
}

.chat-top-custom ul li {
  display: inline-block;
}

.chat-top-custom ul li a {
  display: block;
  width: 24px;
  height: 24px;
  text-align: center;
  line-height: 24px;
  background-color: #16a4fa;
  color: #fff;
  -webkit-border-radius: 3px;
     -moz-border-radius: 3px;
          border-radius: 3px;
  font-size: 12px;
  -webkit-transition: opacity 0.3s ease-in-out;
  -o-transition: opacity 0.3s ease-in-out;
  -moz-transition: opacity 0.3s ease-in-out;
  transition: opacity 0.3s ease-in-out;
}

.chat-top-custom ul li a:hover {
  opacity: 0.8;
}

.chat-middle-custom {
  background-color: #f5f8fB;
  height: 50vh;
}

.chat-date-custom {
  font-size: 14px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
  -webkit-box-align: center;
  -webkit-align-items: center;
     -moz-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 15px;
  margin-left: 50px;
}

.chat-date-span1 {
  width: 65px;
  height: 1px;
  background-color: #176ff0;
}

.chat-date-span2 {
  margin: 0 10px;
}

.chat-date-span3 {
  width: 65px;
  height: 1px;
  background-color: #176ff0;
}

.chat-middle-img-wrap {
  margin-bottom: 5px;
  margin-left: 10px;
}

.chat-middle-img-wrap img {
  max-width: 30px;
  display: inline-block;
  -webkit-border-radius: 50%;
     -moz-border-radius: 50%;
          border-radius: 50%;
  -webkit-box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
     -moz-box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
          box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
}

.chat-middle-text {
  background-color: #1972f5;
  background-image: -webkit-linear-gradient(325deg, #0455cc -10%, #1972F5 100%) !important;
  background-image: -moz-linear-gradient(325deg, #0455cc -10%, #1972F5 100%) !important;
  background-image: -o-linear-gradient(325deg, #0455cc -10%, #1972F5 100%) !important;
  background-image: linear-gradient(125deg, #0455cc -10%, #1972F5 100%) !important;
  -webkit-border-radius: 5px;
     -moz-border-radius: 5px;
          border-radius: 5px;
  padding: 10px 20px;
  margin-top: 15px;
  max-width: 275px;
  margin-left: -20px;
}

.chat-middle-text span {
  font-size: 15px;
  color: #ffffff;
}

.chat-middle-text p {
  font-size: 13px;
  color: #ffffff;
}

.chat-bottom-custom {
  padding-top: 14.5px;
  height: 79px;
  border-top: 1px solid rgba(23, 165, 250, 0.15);
  background-color: #fff;
}

.chat-bottom-form textarea {
  resize: none;
  max-height: 50px;
  border: 1px solid rgba(22, 164, 250, 0.2);
  font-size: 14px;
}

.chat-bottom-form textarea:focus {
  border: 1px solid rgba(22, 164, 250, 0.2);
  -webkit-box-shadow: 0 0 5px rgba(22, 164, 250, 0.2);
     -moz-box-shadow: 0 0 5px rgba(22, 164, 250, 0.2);
          box-shadow: 0 0 5px rgba(22, 164, 250, 0.2);
}

.chat-sec .form-row {
  -webkit-box-align: center;
  -webkit-align-items: center;
     -moz-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 0;
  padding: 0 0 0 10px;
}

.chat-bottom-form ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.chat-bottom-form ul li {
  display: inline-block;
}

.chat-bottom-form ul li a {
  display: block;
  color: #ffffff;
  width: 25px;
  height: 25px;
  background-color: #16a4fa;
  text-align: center;
  line-height: 25px;
  -webkit-border-radius: 3px;
     -moz-border-radius: 3px;
          border-radius: 3px;
  font-size: 14px;
  -webkit-transition: opacity 0.3s ease-in-out;
  -o-transition: opacity 0.3s ease-in-out;
  -moz-transition: opacity 0.3s ease-in-out;
  transition: opacity 0.3s ease-in-out;
}

.chat-bottom-form ul li a:hover {
  opacity: 0.8;
}
/******* chat modal section end *******/